$rosa: #F18D9E;
$amarillo: #E6D72A;
*{
    margin: 0px;
    padding: 0px;
}
header{
    background: linear-gradient(to bottom, $rosa, $amarillo);
    margin: 0px;
    display: flex;
    justify-content: center;
    border-bottom-style: double;
    nav{
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 10px;
        font-family: 'PT Sans', sans-serif;
        line-height: 23px;
        font-size: 26px;
        div form{
            width: 250px;
            button{
                display: inline;
                margin: 0%;

            }
        }
    }
}
.fotoLogo :hover{
    transform:scale(1.1, 1.1);
 }